{% load static %}

<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'css/auth_form.css' %}">
</head>
    <body>

        <h2>User Login</h2>

        <form method="post" class="user-form" action={% url 'auth_user' %}>
            {% csrf_token %}

            {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% if field.errors %}
                        <ul class="errorlist">
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            {% endfor %}

            {% if form.non_field_errors %}
                <ul class="errorlist nonfield">
                    {% for error in form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <button type="submit" class="btn-submit">Sign in</button>
            <button type="reset" class="btn-reset">Reset</button>
        </form>

    </body>
</html>
