{% extends "base.html" %}

{% block title %}Категорії{% endblock %}

{% block content %}
    <h2>Категорії</h2>
    <ul>
        {% for category in categories %}
            <li>
                {{ category.title }} —
                {{ category.post_set.count }} пост{{ category.post_set.count|pluralize:"ів,и" }}
            </li>
        {% empty %}
            <p>Немає категорій</p>
        {% endfor %}
    </ul>
{% endblock %}

{% block paginator %}
    {% include "paginator.html" with page_obj=categories %}
{% endblock %}