DEBUG=True
SECRET_KEY=
ALLOWED_HOSTS=127.0.0.1,localhost

POSTGRES_DB_NAME=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=

CELERY_BROKER_URL=redis://
CELERY_RESULT_BACKEND=redis://
CELERY_TASK_ALWAYS_EAGER=False
CELERY_TASK_STORE_EAGER_RESULT=True

EMAIL_HOST_USER="example@example.com"
EMAIL_HOST_PASSWORD=

# Flower Basic
# login and password
FLOWER_BASIC_AUTH=admin:password

# Flower Google Oauth2
FLOWER_OAUTH2_SECRET=secret_key
FLOWER_OAUTH2_KEY=public_key
FLOWER_OAUTH2_REDIRECT_URI=http://localhost:5555/login
FLOWER_AUTH="example@example.com"
FLOWER_AUTH_PROVIDER="flower.views.auth.GoogleAuth2LoginHandler"
